- var title = "Gear Set"

section.section
    h2= title
    p.text.
        Robust Spirit lacking critical rate, therefore, having critical rate buff give Soulfist tons of damage.
    table.table
        thead
            th &nbsp;
            th.cell.cell__head 1370
            th.cell.cell__head 1415
            th.cell.cell__head 1430
            th.cell.cell__head 1445
            th.cell.cell__head 1460
        tbody 
            tr
                th.cell.text--warning Legend
                td.cell.text--center.text--warning Preordained Diligence Set
                td.cell.text--center.text--warning 
                    div 2 Preordained Diligence Set
                    div 2 Demon Beast Strength Set
                td.cell.text--center.text--warning
                    div 2 Preordained Diligence Set
                    div 4 Demon Beast Strength Set
                td.cell.text--center.text--warning 2 Preordained Diligence Set
            tr
                th.text--danger Relic
                td
                td
                td
                td.cell.text--center.text--danger
                    div 2 Shrieking Hallucination
                    div 2 Poem of Salvation
                td.cell.text--center.text--danger Shrieking Hallucination Set