- var title = "Card Set"

section.section.card
    h2= title
    p.text.
        Cards are endgame feature and need a lot of time and investment. So you should working slowly on it.

    h3 Budget Card Set

    p.text Use this if you was testing out boss mechanic
    table.table
        thead
            th.cell.cell__head(colspan="3") Forest of Giants
            th.cell.cell__head(colspan="3") We'll Meet Again
        tbody
            tr
                td.text--center.text--primary Mokamoka
                td.text--center.text--info Caspiel
                td.text--center.text--info Tir
                td.text--center.text--primary Madnick
                td.text--center.text--info Vrad
                td.text--center.text--info Sian
            tr
                td(colspan="3")
                    .wrapper
                        .block
                            span.text--success 3 Set
                            ul.list
                                li.list__item Effectiveness of recovery items +25%
                            span.text--success 3 Set | 9-piece Awakening
                            ul.list 
                                li.list__item Phy. Defense +10.00%
                                li.list__item Mag. Defense +10.00%
                            span.text--success 3 Set | 15-piece Awakening 
                            ul.list 
                                li.list__item Phy. Defense +20.00%
                                li.list__item Mag. Defense +20.00%
                td(colspan="3")
                    .wrapper
                        .block
                            span.text--success 3 Set
                            ul.list
                                li.list__item Damage -12% from foes when your HP is 50% or lower
                            span.text--success 3 Set | 9-piece Awakening
                            ul.list 
                                li.list__item Damage -16% from foes when your HP is 50% or lower
                            span.text--success 3 Set | 15-piece Awakening 
                            ul.list 
                                li.list__item Quickly restores your HP for 5s when attacked while HP is below 20%. (Cooldown: 10m)

    p.text Use this if you don't have enough crit or you know what are you doing
    table.table
        thead
            th.cell.cell__head(colspan="6") Lostwind Cliff
        tbody
            tr
                td.text--warning Armen
                td.text--info Seria
                td.text--success Solas
                td.text--warning King Thirain
                td.text--warning Kharmine
                td.text--warning Delain Armen
            tr
                td(colspan="3")
                    .wrapper
                        .block
                            span.text--success 2 Set
                            ul.list
                                li.list__item Dark Damage Reduction +8.00%
                            span.text--success 4 Set
                            ul.list 
                                li.list__item Dark Damage Reduction +8.00%
                            span.text--success 6 Set
                            ul.list 
                                li.list__item Dark Damage Reduction +9.00%
                td(colspan="3")
                    .wrapper
                        .block
                            span.text--success 6 Set | 9-piece Awakening
                            ul.list 
                                li.list__item Crit Rate +7%
                            span.text--success 6 Set | 30-piece Awakening 
                            ul.list 
                                li.list__item Personal and party Holy Damage on foe +3.5%

    h3 Minmax Card Set
    p.text Only use this if you have enough crit and get 18-piece Awakening, also this only work on foes that are weak to Holy attribute.
    table.table
        thead
            th.cell.cell__head(colspan="6") Light of Salvation
        tbody
            tr.text--warning
                td Shandi
                td Azena and Inanna
                td Nineveh
                td Wei
                td Balthorr
                td Thirain
            tr
                td(colspan="3")
                    .wrapper
                        .block
                            span.text--success 2 Set
                            ul.list
                                li.list__item Dark Damage Reduction +10.00%
                            span.text--success 4 Set
                            ul.list 
                                li.list__item Dark Damage Reduction +10.00%
                            span.text--success 6 Set
                            ul.list 
                                li.list__item Dark Damage Reduction +10.00%
                td(colspan="3")
                    .wrapper
                        .block
                            span.text--success 6 Set | 12-piece Awakening
                            ul.list 
                                li.list__item Change damage type to Holy
                            span.text--success 6 Set | 18-piece Awakening
                            ul.list 
                                li.list__item Holy Damage +7.00%
                            span.text--success 6 Set | 30-piece Awakening 
                            ul.list 
                                li.list__item Holy Damage +8.00%