- var title = "Rotations"

section.section 
    h2= title
    p.text.
        You can reading about rotation here or watch it at my channel #[a.out-bound-link(href="" rel="nofollow noopener" target="__blank") here] (not available for now, i'm so sorry).
    p.text.text--center I am going make Rotation clip first (should be ready before VYKAS is out) and writing these later.