- var title = "Rotations"

section.section 
    h2= title
    p.text.
        You can reading about rotation here or watch it at my channel #[a.out-bound-link(href="" rel="nofollow noopener" target="__blank") here].
    p.text.text--center I made Rotation clip first and writing these later.