- var title = "End of the Road"

section.section
    h2= title
    p.text.
        This is it, the Robust Spirit Soulfist fundamentals. Now the rest is up to your skill. Remember that Soulfist are not newbie friendly.