section.section
    h2 What is !{skill("Robust Spirit","danger")} ?
    p.
        !{skill("Robust Spirit","danger")} Soulfist is one of the strongest burst damage dealers 
        in the game. Instead of moving from Hype 1 to Hype 3, you could jump in Hype 3 rightaway, 
        which give you tons of damage buff. Also with the skillset being the combination of 
        melee and ranged skill, she make you feel like a pro-gamer playing Lost Ark.
    p.
        !{skill("Robust Spirit","danger")} Soulfist have !{skill("World Domination","info")} 
        as one of the strongest awakening skill and even stronger with RS. With that in mind, 
        missing WD will lead to a huge damage lost and maybe your teammates laughing at you.