- var title = "Stats Priority"

section.section
    h2= title
    p.
        !{skill("Specialization","warning")}! This is your main stats with RS Soulfist. 
        Your DMG, ATKSPD, CDR that you get from Hype and your Awakening scale with your Spec. 
        The higher your Spec, the higher your DMG, ATKSPD, CDR your Hype give you 
        and the bigger the Awakening DMG.
