-
    var engravings = {
        classEngravings: {
            robustSpirit: {
                name: "Robust Spirit",
                url: "./img/engraving/robust-spirit.webp",
            },
            energyOverflow: {
                name: "Energy Overflow",
                url: "./img/engraving/energy-overflow.webp",
            },
        },
        battleEngravings: {
            grudge: {
                name: "Grudge",
                url: "./img/engraving/grudge.webp",
            },
            kbw: {
                name: "Keen Blunt Weapon",
                url: "./img/engraving/kbw.webp",
            },
            CD: {
                name: "Cursed Doll",
                url: "./img/engraving/cd.webp",
            },
            adre: {
                name: "Adrenaline",
                url: "./img/engraving/adrenaline.webp",
            },
            precise: {
                name: "Precise Dagger",
                url: "./img/engraving/precise.webp",
            },
            awaken: {
                name: "Awakening",
                url: "./img/engraving/awak.webp",
            },
            mass: {
                name: "Mass Increase",
                url: "./img/engraving/mass.webp",
            },
        },
    }