footer.footer
    .container
        p.text.text--center © 2021-2022 Smilegate RPG, Inc.
        p.text.text--center All rights to the copyrighted works (images, data, audios, texts, etc.) used in Lost Ark are owned by SmileGate.
        p.text.text--center All other trademarks, logos and copyrights are property of their respective owners.
        p.text.text--center Website template provided by#[a.out-bound-link(href="https://www.creative-tim.com/" rel="nofollow noopener" target="_blank") Creative Tim].
        .text.text--center
            a(href="https://www.youtube.com/channel/UCauDcigv5QYBEzS-CKXlAXA" rel="nofollow noopener" target="__blank")
                i.fab.fa-youtube 
            a(href="https://www.twitch.tv/specializationsf" rel="nofollow noopener" target="__blank")
                i.fab.fa-twitch