- var list = ["Overview", "Keyterms", "What is Robust Spirit","Stats Priority","Skill Set","Tripods","Runes","Gems","Engravings","Gear Set", "Card Set","Rotations","End of the Road"]
nav.section.toc
    ul
        each item in list
            li
                a.toc__link= item